<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <input type="text" id="username" name="username">
        <input type="text" id="sobrenome" name="sobrenome">
        <input type="text" name="ip" id="ipp">
        <input type="submit" value="Concluir">
    </form>
    <script>

        var request = new XMLHttpRequest()

        request.open('GET', "http://ip-api.com/json/?fields=61439")

        request.responseType = 'json';
        request.send()

        request.onload = function() {
            var dolar = request.response;
            dolarpop(dolar);
        }

        function dolarpop(p) {

            console.log(request.response.query)
            document.getElementById("ipp").value = request.response.query
        }

    </script>
</body>
</html>